<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/styles/contact.css" />
    <link rel="stylesheet" href="../static/styles/style.css" />
    <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
    integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
    crossorigin="anonymous"
    />
     </head>
  <title>Contact</title>
  <body>
    <div class="content">
      <div class="sidebar">
        <div class="header">
          <input type="checkbox" id="btn">
          <a href="../index.html">Home</a>
          <a href="work.html">My work</a>
          <a href="contact.html">contact</a>
        </div>
     </div>
     <div class="contact-form">
       <label>Contact Us</label>
       <form>
          <input type="text" id="fname" placeholder="Your Name..." autocomplete="off">
          <br>
          <input type="email" id="email" placeholder="Your Email..." autocomplete="off">
          <br>
          <textarea  id="mesg" cols="30" rows="10" placeholder="Your Message" autocomplete="off"></textarea>
        </form>
     </div>
    </div>
    <script src="../static/js/menubar.js"></script>
  </body>
</html>
