<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../styles/contact.css" />
    <title>Contact</title>
    <link rel="stylesheet" href="../styles/style.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
      integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="content">
      <div class="menubar">
        <input type="checkbox" id="check" />
        <label for="check">
          <i class="fas fa-bars" id="btn"></i>
          <i class="fas fa-times" id="cancel"></i>
        </label>
        <nav class="side-bar">
          <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="work.html">Work</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </nav>
      </div>
      <div class="container">
        <form id="myForm">
          <input
            type="text"
            name="Name"
            id="name"
            placeholder="Name..."
            autocomplete="off"
            required
          />
          <br /><br />
          <input
            type="email"
            name="Email_address"
            id="Email_address"
            placeholder="Enter your valid Email Email_Address"
            autocomplete="off"
            required
          />
          <i class="far fa-envelope"></i>
          <br />
          <br />

          <textarea
            type="text"
            name="msg"
            id="msg"
            placeholder="Message"
            autocomplete="off"
            required
          ></textarea>

          <br />
        </form>
        <button type="submit">Submit</button>
      </div>
    </div>
  </body>
</html>
