<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles/work.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
      integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/styles/style.css" />
    <title>My Work</title>
  </head>
  <body>
    <div class="sidebar">
      <div class="header">
        <input type="checkbox" id="btn">
        <a href="../index.html">Home</a>
        <a href="work.html">My work</a>
        <a href="contact.html">contact</a>
      </div>
   </div>
    <section>
     <div class="card-grid">
        <div class="card">
          <div
            class="card_background"
            style="background-image: url(../images/15491.jpg)"
          ></div>
          <div class="card_content">
            <p class="card_category">Dharun C</p>
            <h3 class="card_heading">ChatRoom</h3>
            <a href="https://github.com/Dharundds/ChatRoom" target="_blank"
              >Github</a
            >
            <a
              href="http://centigrade-chatroom.southindia.azurecontainer.io:5000/"
              target="_blank"
              >Web app</a
            >
          </div>
        </div>
        <div class="card">
          <div
            class="card_background"
            style="background-image: url(../images/shopit.jpg)"
          ></div>
          <div class="card_content">
            <p class="card_category">Dharun C</p>
            <h3 class="card_heading">ShopiT</h3>
            <a href="https://github.com/Centigrade2020/Shopit" target="_blank"
              >Github</a
            >
            <a href="https://shopit-34927.web.app/" target="_blank">Web app</a>
          </div>
        </div>
        <div class="card">
          <div
            class="card_background shop"
            style="background-image: url(../images/ml.png)"
          ></div>
          <div class="card_content">
            <p class="card_category" style="font-weight: bold">Dharun C</p>
            <h3 class="card_heading">First ML project</h3>
            <a href="https://github.com/Dharundds/First_ml" target="_blank"
              >Github</a
            >
          </div>
        </div>
        <div class="card">
          <div
            class="card_background shop"
            style="background-image: url(../images/comingsoon.png)"
          ></div>
          <div class="card_content">
            <p class="card_category">Dharun C</p>
            <h3 class="card_heading">Coming soon</h3>
            <a href="#"></a>
          </div>
        </div>
      </div>
    </section>
    <script src="../static/js/menubar.js"></script>
  </body>
</html>
