<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/work.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
      integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../styles/style.css" />
    <title>My Work</title>
  </head>
  <body>
    <section>
      <div class="menubar">
        <input type="checkbox" id="check" />
        <label for="check">
          <i class="fas fa-bars" id="btn"></i>
          <i class="fas fa-times" id="cancel"></i>
        </label>
        <nav class="side-bar">
          <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="work.html">Work</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </nav>
      </div>
      <div class="card-grid">
        <div class="card">
          <div
            class="card_background"
            style="background-image: url(../images/15491.jpg)"
          ></div>
          <div class="card_content">
            <p class="card_category">Dharun C</p>
            <h3 class="card_heading">ChatRoom</h3>
            <a href="https://github.com/Dharundds/ChatRoom" target="_blank"
              >Github</a
            >
            <a
              href="http://centigrade-chatroom.southindia.azurecontainer.io:5000/"
              target="_blank"
              >Web app</a
            >
          </div>
        </div>
        <div class="card">
          <div
            class="card_background"
            style="background-image: url(../images/shopit.jpg)"
          ></div>
          <div class="card_content">
            <p class="card_category">Dharun C</p>
            <h3 class="card_heading">ShopiT</h3>
            <a href="https://github.com/Centigrade2020/Shopit" target="_blank"
              >Github</a
            >
            <a href="https://shopit-34927.web.app/" target="_blank">Web app</a>
          </div>
        </div>
        <div class="card">
          <div
            class="card_background shop"
            style="background-image: url(../images/ml.png)"
          ></div>
          <div class="card_content">
            <p class="card_category" style="font-weight: bold">Dharun C</p>
            <h3 class="card_heading">First ML project</h3>
            <a href="https://github.com/Dharundds/First_ml" target="_blank"
              >Github</a
            >
          </div>
        </div>
        <div class="card">
          <div
            class="card_background shop"
            style="background-image: url(../images/comingsoon.png)"
          ></div>
          <div class="card_content">
            <p class="card_category">Dharun C</p>
            <h3 class="card_heading">Coming soon</h3>
            <a href="#"></a>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
