* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  background: #000;
}

.main {
  margin-left: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  color: #1a1a1b;
}

.main h1 {
  font-size: 30px;
  color: white;
  position: relative;
  margin-top: 300px;
  font-size: 28px;
}
.main h2 {
  font-size: 30px;
  margin-top: 2px;
  color: white;
  position: relative;
  width: fit-content;
  height: fit-content;
}

.main h3 {
  font-size: 30px;
  margin-top: 2px;
  color: white;
  position: relative;
  width: fit-content;
  height: fit-content;
}

.side-bar {
  width: 250px;
  height: 100%;
  background: #042331;
  position: fixed;
  top: 0%;
  right: -1000px;
  transition: all 0.5s ease-in-out;
}

.side-bar ul {
  list-style-type: none;
}

.side-bar ul a {
  margin-top: 2px;
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 15px;
  color: white;
  padding-left: 20px;
  box-sizing: none;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid black;
  transition: 0.4s;
  text-decoration: none;
  border-left: 3px solid transparent;
}

ul li:hover a {
  padding-left: 15px;
  color: cyan;
  border-left-color: cyan;
}

nav ul li a span {
  position: absolute;
  top: 5%;
  right: 100px;
  font-size: 15px;
  transition: transform 0.5s;
}

nav ul li span.rotate {
  transform: rotate(-180deg);
}

#check {
  display: none;
}

label #btn,
label #cancel {
  position: absolute;
  cursor: pointer;
  background: #042331;
  border-radius: 3px;
}

label #btn {
  right: 30px;
  top: 20px;
  font-size: 25px;
  color: aliceblue;
  padding: 6px 12px;
  transition: all 0.5s ease;
}

label #cancel {
  z-index: 1111;
  right: -280px;
  top: 17px;
  font-size: 25px;
  color: #0a5275;
  padding: 4px 9px;
  transition: all 0.5s ease;
}

#check:checked ~ .side-bar {
  right: 0;
}

#check:checked ~ label #btn {
  right: 1000px;
  opacity: 0;
  pointer-events: none;
}

#check:checked ~ label #cancel {
  right: 280px;
}

/* .sub-main {
  font-size: 40px;
  margin-left: 50%;
  color: aliceblue;
  transform: scale(0.75) rotateY(-30deg) rotateX(45deg) translateZ(4.5rem);
  transform-origin: 50% 100%;
  transform-style: preserve-3d;
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.25);
  transition: 0.6s ease transform;
}

.sub-main::before {
  transform: translateZ(4rem);
}
.sub-main::after {
  transform: translateZ(-4rem);
}

.sub-main:hover {
  transform: scale(1);
  transform: translateZ(0);
  transform: translateZ(-1px);
}
 */
